.bio {
  @include full-width;
  padding-left: 5%;
  padding-right: 5%;
  background: $dark-grey;
  p {
    color: $light-khaki;
    @include animation(0, 1s, ease-in, fade-in);
    &.leadin {
      @include font-size(19);
      font-family: $font-slab;
      color: $light-blue;
    }
  }
  img {
    @include animation(0, 1s, ease-in, fade-in);
  }
}

.clients {
  padding-top:60px;
  padding-bottom: 60px;
  ul {
    text-align: center;
    &:hover {
      a {
        opacity: .5;
      }
    }
    li {
      display: inline-block;
      margin: 15px;
      vertical-align: middle;
      a {
        display: block;
        &:hover {
          opacity: 1;
        }
        &.acura {
          width: 94px;
          height: 90px;
          @include img-content(-20px, -180px);
        }
        &.averydennison {
          width: 137px;
          height: 44px;
          @include img-content(-20px, -300px);
        }
        &.cincymuseum {
          width: 137px;
          height: 61px;
          @include img-content(-20px, -380px);
        }
        &.cincinnatiusa {
          width: 137px;
          height: 53px;
          @include img-content(-20px, -480px);
        }
        &.frameri {
          width: 137px;
          height: 22px;
          @include img-content(-20px, -2550px);
        }
        &.greatamerican {
          width: 137px;
          height: 64px;
          @include img-content(-20px, -580px);
        }
        &.kroger {
          width: 110px;
          height: 90px;
          @include img-content(-20px, -680px);
        }
        &.messer {
          width: 137px;
          height: 28px;
          @include img-content(-20px, -800px);
        }
        &.perfetti {
          width: 137px;
          height: 57px;
          @include img-content(-20px, -870px);
        }
        &.pg {
          width: 137px;
          height: 60px;
          @include img-content(-20px, -970px);
        }
        &.rookwood {
          width: 125px;
          height: 90px;
          @include img-content(-20px, -1080px);
        }
        &.sheraton {
          width: 137px;
          height: 86px;
          @include img-content(-20px, -1200px);
        }
        &.snaac {
          width: 137px;
          height: 26px;
          @include img-content(-20px, -1330px);
        }
        &.toyota {
          width: 137px;
          height: 90px;
          @include img-content(-20px, -1507px);
        }
        &.ucla {
          width: 131px;
          height: 60px;
          @include img-content(-20px, -1400px);
        }
      }
    }
  }
}

.recognition {
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: $dark-khaki 1px solid;
  ul {
    @include column-count(1);
    @include column-gap(30px);
    @include respond-to(small) {
      @include column-count(2);
    }
    li {
      margin: 0 0 30px;
      @include vendor-prefix(column-break-inside, avoid);
      @include vendor-prefix(break-inside, avoid-column);
      ul {
        @include column-count(1);
        li {
          @include font-size(16);
          color: $dark-grey;
          margin: 0;
        }
      }
    }
  }
}

.writings {
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: $dark-khaki 1px solid;
  ul {
    @include column-count(1);
    @include column-gap(30px);
    @include respond-to(small) {
      @include column-count(2);
    }
    li {
      list-style: disc outside;
      margin: 0 0 15px 15px;
      color: $light-blue;
    }
  }
}