section.hero {
	@include full-width;
	min-height: 100%;
	background: image-url('background_desktop_blur.jpg') center no-repeat;
	background-size: cover;
	text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  h1 {
    color: $white;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 60%;
    // transform: translateY(-50%);
    @include vendor-prefix(transform, translateY(-60%));
    span {
      color: $dark-khaki;
      display: block;
    }
    img {
      margin-top: 30px;
    }
  }
}