section.hero {
	@include full-width;
  padding: 30px 5%;
	min-height: 100%;
	background: image-url('background_desktop_blur.jpg') center no-repeat;
	background-size: cover;
	text-align: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  @include respond-to(xsmall) {
    padding: 60px 5%;
  }
  @include respond-to(medium) {
    position: fixed;
    padding: 0;
  }
  h1 {
    color: $white;
    position: relative;
    text-align: center;
    width: 100%;
    top: auto;
    @include vendor-prefix(transform, translateY(auto));
    opacity: 0;
    @include animation(.5s, 1s, ease-in, fade-in);
    @include respond-to(medium) {
      position: absolute;
      top: 60%;
      @include vendor-prefix(transform, translateY(-60%));
    }
    span {
      color: $dark-khaki;
      display: block;
      opacity: 0;
      @include animation(2s, 1s, ease-in, fade-in);
    }
    img {
      margin-top: 30px;
      opacity: 0;
      @include animation(4s, 1s, ease-in, fade-in);
    }
  }
}