$font-sans: 'avenir', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
$font-slab: 'museo-slab', Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $font-sans;
  @include font-size(16);
  color: $black;
}

p {
	margin: 0 0 15px;
  color: $black;
}

a {
	text-decoration: none;
  @include animate-object;
}

h1 {
	@include font-size(50);
	font-family: $font-slab;
	span {
		@include font-size(30);
    font-family: $font-sans;
	}
}

h2 {

}

h3 {
  @include font-size(39);
  font-family: $font-slab;
  color: $light-blue;
  margin-bottom: 15px;
}

h4 {
  @include font-size(22);
  color: $light-blue;
}