@mixin site-width {
  width: 100%;
  padding: 0 5%;
  @include box-sizing(border-box);
}

@mixin full-width { //overrides site width for full bleed
    width: 111.5%;
    // margin: 0 -5.95% 0 -5.95%;
    margin: 0 -5.95% 0 -5.95%;
    @include box-sizing(border-box);
}

@include selection {
  background: $light-blue;
  color: $white;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: $black;
  &.about {
    background: $light-khaki;
  }
  &.work {
    background: $light-grey;
  }
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

.split {
  @include flexbox();
  padding: 60px 0;
  div {
    width: 67%;
    @include flex(1 1 auto);
    padding-left: 15px;
    padding-right: 15px;
  }
  aside {
    width: 33%;
    @include flex(1 1 auto);
    padding: 0 30px;
  }
  body.work & {
    display: block;
    div {
      width: 60%;
      margin-left: 40%;
    }
    aside {
      width: 33%;
      position: fixed;
      padding: 0;
    }
  }
}



.bodycontent {
  @include site-width;
  display: black;
  min-height: 100%;
  position: relative;
  padding-top: 85px;
}