section.work { //FULL LIST
  @include full-width;
  min-height: 100%;
  position: relative;
  h2 {
    @include aspect-ratio(1, 1);
    width: 100%;
    display: block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @include respond-to(xsmall) {
      @include aspect-ratio(2, 1);
    }
    @include respond-to(medium) {
      @include aspect-ratio(3, 1);
    }
    &.rookwood {
      background-image: image-url('rookwood_cover.jpg');
    }
    &.snaac {
      background-image: image-url('snaac_cover.jpg');
    }
    &.avery {
      background-image: image-url('avery_cover.jpg');
    }
    &.pep {
      background-image: image-url('pep_cover.jpg');
    }
    &.thornvalley {
      background-image: image-url('thorn_valley_cover.jpg');
    }
    &.empower {
      background-image: image-url('empower_cover.jpg');
    }
    a {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($black, .9);
      font-family: $font-slab;
      @include font-size(50);
      color: $white;
      opacity: 0;
      &:hover {
        opacity: 1;
      }
      span {
        width: 100%;
        text-align: center;
        position:absolute;
        top: 50%;
        @include vendor-prefix(transform, translateY(-50%));
        padding: 60px;
        @include box-sizing(border-box);
        &::after {
          display: block;
          content: '- Learn About This Project -';
          color: $dark-khaki;
          @include font-size(25);
          font-family: $font-sans;
        }
      }
    }
  }
}

article.piece {
  img {
    margin: 0 0 60px;
  }
  aside {
    ul.workdone {
      margin-bottom: 15px;
      font-family: $font-slab;
      color: $light-blue;
      // @include font-size(17);
      li {
        display: inline-block;
        margin-right: 10px;
        &:hover {
          cursor: pointer;
          span {
            display: block;
          }
        }
        span {
          display: none;
          position: absolute;
          background-color: $light-blue;
          padding: 5px;
          font-family: $font-sans;
          color: $dark-grey;
          margin-top: -55px;
          margin-left: 5px;
        }
      }
    }
    p {
      color: $white;
      a {
        @include font-size(25);
        font-family: $font-slab;
        display: block;
        text-align: center;
        border: $dark-grey 3px solid;
        padding: 5px;
        color: $dark-grey;
        @include respond-to(medium) {
          display: inline-block;
          text-align: left;
          border: none;
          padding: 5px 10px;
          &:hover {
            background-color: $dark-grey;
            color: $white;
          }
        }
      }
      &.topicmademeputthis {
        @include font-size(12);
        margin-top: 30px;
      }
    }
    ul.cycle {
      display: block;
      opacity: 1;
      text-align: center;
      @include respond-to(medium) {
        text-align: left;
        display: inline-block;
      }
      &:hover {
        a {
          opacity: .5;
        }
      }
      li {
        display: inline-block;
        a {
          width: 42px;
          height: 42px;
          display: block;
          &:hover {
            opacity: 1;
          }
          &.left_arrow {
            @include img-content(-20px, -2640px);
            margin-right: 15px;
          }
          &.right_arrow {
            @include img-content(-20px, -2720px);
          }
        }
      }
    }
  }
}