<section class="work" id="work">
  <h2 class="thornvalley">
    <a href="/work/thorn_valley.html"><span>Thorn Valley</span></a>
  </h2>
  <h2 class="rookwood">
    <a href="/work/rookwood_pottery.html"><span>Rookwood Pottery</span></a>
  </h2>
  <h2 class="snaac">
    <a href="/work/snaac.html"><span>SNAAC</span></a>
  </h2>
  <h2 class="avery">
    <a href="/work/avery_dennison.html"><span>Avery Dennison</span></a>
  </h2>
  <h2 class="pep">
    <a href="/work/pep_promotions.html"><span>Pep Promotions</span></a>
  </h2>
</section>