<section class="work">
  <!-- <h2>work</h2> -->
  <!-- <span class="spacer"></span> -->
  <h2 class="rookwood">
    <a href="#"><span>Rookwood Pottery</span></a>
  </h2>
  <h2 class="snaac">
    <a href="#"><span>SNAAC</span></a>
  </h2>
  <h2 class="avery">
    <a href="#"><span>Avery Dennison</span></a>
  </h2>
  <h2 class="pep">
    <a href="#"><span>Pep Promotions</span></a>
  </h2>
</section>